
.row {
    margin-left: 5px;
    color: white;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 30px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_posterLarge {
    max-height: 350px
}

.row_posterLarge:hover {
    transform: scale(1.09);
}
